/* Variables */
:root {
  --button-color: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  --button-color-hover: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  --button-color-active: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  --button-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  --button-shadow-hover: 0px 2px 2px #AC1000;
  --button-shadow-active: inset 0px 2px 2px #942718;
  --white: #FFFFFF;
  --black: #323232;
  --light-black: #5A5A5A;
  --bck-red: rgb(91, 0, 25);
  --bck-brown: rgb(67, 35, 22);
  --bck-pattern: rgb(230, 212, 178);
  --bck-light: #F8F7F4;
  --opacity-bck: rgba(255, 255, 255, 0.2);
  --link-hover-color: #FFBC9E;
  --link-hover-border: rgba(255, 188, 158, 0.3);
  --link-hover-color__white-bck: #E84D37;
  --nav-link-bck-active: #EDEDED;
  --nav-link-shadow-active: inset 0px 2px 1px #696969;
  --nav-bck-on-page: #D07058;
  --nav-menu-bck-hover: #FBDED7;
  --nav-menu-bck-active: #F6B5A5;
  --nav-menu-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4); }

/* Global */
*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  background: #849D8F; }

img {
  max-width: 100%;
  height: auto; }

.page {
  height: 100%; }

.page__body {
  min-height: 100%;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  align-content: start; }

.container {
  width: 1200px;
  padding: 0 27px;
  margin: 0 auto; }

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--button-color);
  box-shadow: var(--button-shadow);
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  border-radius: 70px;
  color: var(--white);
  font-weight: bold;
  text-decoration: none; }
  .button:hover {
    background: var(--button-color-hover);
    box-shadow: var(--button-shadow-hover); }
  .button:active {
    background: var(--button-color-active);
    box-shadow: var(--button-shadow-active); }

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px; }

.main__header {
  width: 1200px;
  padding: 0 27px;
  margin: 0 auto; }

.nav {
  display: grid;
  grid-template-columns: 3fr 1fr; }

.nav__list {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  list-style: none; }

.nav__link {
  text-decoration: none;
  color: var(--white);
  border-radius: 26px; }
  .nav__link:hover {
    color: var(--black);
    background: var(--white); }
  .nav__link:active {
    color: var(--black);
    background: var(--nav-link-bck-color-active);
    box-shadow: var(--nav-link-shadow-active); }
  .nav__link--active {
    background: var(--nav-bck-on-page); }

.nav__catalog__list {
  display: none;
  background: var(--white);
  box-shadow: var(--nav-menu-shadow);
  border-radius: 4px;
  list-style: none; }

.nav__catalog__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  color: var(--black); }
  .nav__catalog__link:hover {
    background-color: var(--nav-menu-bck-hover); }
  .nav__catalog__link:active {
    background-color: var(--nav-menu-bck-active); }

.nav__menu {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 16px;
  font-weight: 500; }

.nav__menu__link {
  text-decoration: none;
  color: var(--white);
  background-color: var(--opacity-bck); }
  .nav__menu__link:hover, .nav__menu__link:active {
    color: var(--black);
    background-color: var(--white); }

.nav__menu__cart--full {
  background-color: var(--white);
  color: var(--black); }

.login {
  display: none; }

.header__contact {
  display: grid;
  justify-items: end; }

.header__contact__text {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: var(--white); }

.header__contact__phone {
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  color: var(--white); }

.slider {
  position: relative; }

.slider__menu {
  display: flex;
  position: absolute;
  bottom: 10%;
  padding: 0;
  margin: 0;
  list-style: none; }

.slider__list {
  padding: 0;
  margin: 0 auto;
  list-style: none; }

.slider__item {
  display: flex;
  flex-direction: column;
  align-items: center; }

.slider__img {
  position: absolute;
  width: 1200px;
  top: -50%;
  z-index: -1; }

.slider__text {
  padding-top: 180px;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  color: var(--white); }

.slider__button {
  width: 278px;
  height: 63px;
  font-size: 32px;
  line-height: 44px; }

.sale {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 27px;
  color: var(--white); }

.sale__raspberry {
  background-image: url("../img/raspberry-bck.jpg");
  background-repeat: no-repeat;
  background-color: var(--bck-red);
  border-radius: 16px; }

.sale__chocolate {
  background-image: url("../img/chocolate-bck.jpg");
  background-repeat: no-repeat;
  background-color: var(--bck-brown);
  border-radius: 16px; }

.sale__title {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px; }

.sale__text {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px; }

.sale__button {
  width: 164px;
  height: 48px;
  font-size: 18px;
  line-height: 24px; }

.product__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 26px;
  padding: 0;
  margin: 0;
  list-style: none; }

.product__item {
  position: relative; }

.main__index .product__item:before {
  content: url("../img/hit-icon.svg");
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px; }

.product__item {
  color: var(--white); }
  .product__item:hover {
    background-color: var(--opacity-bck); }

.product__price {
  font-weight: bold;
  font-size: 45px;
  line-height: 45px; }
  .product__price span {
    font-size: 30px;
    line-height: 35px; }

.product__name {
  text-align: center; }

.product__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: var(--white);
  -webkit-text-decoration-color: var(--opacity-bck);
          text-decoration-color: var(--opacity-bck); }
  .product__link:hover {
    color: var(--link-hover-color);
    -webkit-text-decoration-color: var(--link-hover-border);
            text-decoration-color: var(--link-hover-border); }

.product__button {
  visibility: hidden;
  width: 200px;
  height: 44px;
  font-size: 18px;
  line-height: 24px;
  margin: 0 auto; }

.product__item:hover .product__button {
  visibility: visible; }

.about-us {
  border-radius: 16px;
  background-image: url("../img/waffle-bck.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--bck-pattern); }

.about-us__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: var(--black); }

.about-us__list {
  list-style: none;
  padding: 0;
  margin: 0; }

.about-us__item {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--black); }
  .about-us__item:nth-child(1):before {
    content: url("../img/ice-icon.svg"); }
  .about-us__item:nth-child(2):before {
    content: url("../img/leaf-icon.svg"); }
  .about-us__item:nth-child(3):before {
    content: url("../img/cow-icon.svg"); }
  .about-us__item:nth-child(4):before {
    content: url("../img/thermometer-icon.svg"); }

.blog-email__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 27px; }

.blog {
  background-image: url("../img/strawberry-bck.jpg");
  background-repeat: no-repeat;
  background-color: var(--white);
  border-radius: 16px; }

.blog__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: var(--black); }

.blog__link {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--black); }

.email__form {
  background-image: url("../img/mail-bck.jpg");
  background-color: var(--bck-light);
  background-repeat: no-repeat;
  border-radius: 16px; }

.email__form__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--light-black); }

.email__form__button {
  width: 130px;
  height: 44px;
  font-size: 18px;
  line-height: 24px;
  border: none; }

.contacts {
  position: relative; }

.contacts__img {
  width: 100%;
  height: 430px; }

.contacts__wrapper {
  width: 303px;
  height: 306px;
  position: absolute;
  top: 15%;
  left: 65%;
  border-radius: 16px;
  background-color: var(--white); }
  .contacts__wrapper span {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px; }

.contacts__text {
  font-size: 14px;
  line-height: 20px;
  color: var(--black); }

.contacts__title {
  font-size: 14px;
  line-height: 20px;
  color: var(--black); }

.contacts__phone {
  text-decoration: none;
  color: var(--black); }

.contacts__button {
  width: 253px;
  height: 43px;
  font-size: 18px;
  line-height: 24px; }

.page__footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 1200px;
  padding: 0 27px;
  margin: 0 auto; }

.socials__list {
  padding: 0;
  margin: 0%;
  list-style: none; }

.socials__link {
  font-size: 0; }

.footer__about-us__list {
  justify-items: center;
  list-style: none; }

.footer__about-us__link {
  font-size: 13px;
  line-height: 18px;
  color: var(--white);
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  text-decoration: none; }

.footer__about-us__item:first-child {
  font-weight: bold; }
  .footer__about-us__item:first-child::before {
    content: url("../img/heart.svg"); }

.footer__copyright__text {
  font-size: 12px;
  line-height: 18px;
  color: var(--white); }

.footer__copyright__link {
  color: var(--white);
  -webkit-text-decoration-color: rgba(255, 255, 255, 0.3);
          text-decoration-color: rgba(255, 255, 255, 0.3); }

.header__page__list {
  list-style: none;
  padding: 0;
  margin: 0; }

.header__page__item::before {
  content: url("../img/arow.svg"); }

.header__page__item:nth-child(1)::before {
  content: none; }

.header__page__link {
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  border-bottom: 1px solid var(--opacity-bck);
  color: var(--white); }
  .header__page__link:hover, .header__page__link:active {
    color: var(--link-hover-color);
    border-bottom: 1px solid var(--link-hover-border); }

.sorting__form {
  font-size: 14px;
  line-height: 16px;
  color: var(--white); }

.sorting__type__select {
  background-color: var(--opacity-bck);
  border-radius: 20px; }

.sorting__fat__wrapper {
  background-color: var(--opacity-bck); }

.sorting__fillers__wrapper {
  background-color: var(--opacity-bck); }

.sorting__button {
  background-color: var(--opacity-bck);
  color: var(--white);
  outline: none;
  border: 2px solid var(--white);
  border-radius: 20px; }
  .sorting__button:hover {
    background-color: var(--white);
    color: var(--black); }
  .sorting__button:active {
    box-shadow: inset 0px 2px 1px #696969; }

.product__title {
  font-size: 35px;
  line-height: 41px;
  color: var(--white); }

.product__page__list {
  list-style: none; }

.product__page__link {
  text-decoration: none;
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  border-radius: 50%; }
  .product__page__link--active {
    color: var(--black);
    background-color: var(--white); }
  .product__page__link:hover {
    background-color: var(--opacity-bck); }
  .product__page__link:active {
    color: var(--black);
    background-color: var(--white); }
